<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">
      Quiz App
    </a>
    <div class="text-light float-end fs-5">
      <a target="_blank" href="https://www.facebook.com/muaaz.altahan.9/">
        <fa-icon class="text-light p-1" [icon]="facebook"></fa-icon>
      </a>
      <a target="_blank" href="https://www.instagram.com/muaaz_al_tahan/">
        <fa-icon class="text-light p-1" [icon]="instagram"></fa-icon>
      </a>
      <a target="_blank" href="https://t.me/muaazaltahan">
        <fa-icon class="text-light p-1" [icon]="telegram"></fa-icon>
      </a>
      <a target="_blank" href="https://github.com/muaazaltahan">
        <fa-icon class="text-light p-1" [icon]="github"></fa-icon>
      </a>
    </div>
  </div>
</nav>
<div class="container pb-5">
  <router-outlet></router-outlet>
</div>
<div class="my-footer w-100 p-3 fs-6 text-end bg-dark text-light">
  All rights reserved. <span class="fw-bold">MUAAZ AL-TAHAN</span>
</div>
